/*
Asignatura: Gestion de la Informacion en la Web.
Practica:   4.
Grupo nº:   10.
Autores:
    Naji, Shahad.
    Pérez, Alexandra.
    Pax, Rafael.
    Vasquez, Oscar David.
El codigo a continuacion es fruto unica y exclusivamente del trabajo de los autores declarados anteriormente.
*/
body {
	margin:0;
	background-color:white;
	font-family: "Arial";
	/** 
	topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" style=""
	**/
}
table {
	border: 0;
	width:100%;
}
h1 {
	font-size:18;
}
table.top {
	background-color: gray;	
}
table.content thead tr th {
	width:70%;
	background-color:green;
	color:white;
}
table.footer {
	width:100%;
	background-color: black;
}
table.top td {
	font-size:32;
	color: black;
}
table.main {
	
}
table.content tr {
	outline: thin solid black;
}
table.content tr td,th {
	text-align: left;
}
table.main td.left {
	width:18%;
	background-color:gray;
	vertical-align: top;
}
table.main td.right {
	width:61%;
	vertical-align: top;
	padding: 20 5% 10%;
}

table.slogan {
	color: white;
	background-color: black;
}
table.login {
	 width:500px;
	 border:1px solid black;
	 margin: auto;
}
ul {
  margin-left:0;
  width: 100%;
  padding-left:0;
  display: table;
  table-layout: fixed;
  
}

ul li {
  display: table-row;
  width: auto;
  text-align: center;

}
ul.links li {
	  background-color: green;
}
ul li a {
  text-decoration: none;
  color:white;
}
ul li a.selected {
  
  color:white;
  font-weight: bold;
}
div.login {
	text-align: center;
}
/*Estilo para los botones de comprar*/
.ocupado{
	background-color: red;
	width: 30px;
	height: 30px;
	text-align: center;
}

.libre{
	background-color: green;
	width:30px;
	height: 30px;
	text-align: center;
}
.noDisponible{
	background-color: #808080;
	width:30px;
	height: 30px;
	text-align: center;	
}

td.formatoBoton{
	background-color: green;
	height: 30px;
	text-align: center;

}

td.formatoBoton:hover{
	background-color: black;
	height: 30px;
	text-align: center;

}
td.formatoBoton a{
	text-decoration: none;
	color: white;
	
}